version: 2
updates:
  - package-ecosystem: "gomod"
    directories:
      - "/"
      - "/test/integration"
    schedule:
      interval: "daily"
    groups:
      go-version-updates:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
      go-security-updates:
        applies-to: security-updates
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      docker-version-updates:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
      docker-security-updates:
        applies-to: security-updates
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: golang
        versions:
          - "*rc*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      action-version-updates:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
      action-security-updates:
        applies-to: security-updates
        update-types:
          - "minor"
          - "patch"
