# Git
.git
.gitignore
.github

# Environment
.editorconfig

# Tools
.golangci-lint.yaml
coverage*
*.sarif
tools/
scripts/

# Docs
docs/
README*
LICENSE
pages/

# Test
test/
build/
*.db
*_test.go

# Other
script/
Makefile
