name: Build

on:
  workflow_call:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  go-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Build
        run: VERSION=${{ github.sha }} make build
  
  docker-build:
    uses: ./.github/workflows/image.yaml
    secrets: inherit
    with:
      version: ${{ github.sha }}
      push: false
