name: Main branch protection

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read
  pull-requests: read

jobs:
  static-analysis:
    uses: ./.github/workflows/static-analysis.yaml
    secrets: inherit

  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit

  image:
    uses: ./.github/workflows/image.yaml
    secrets: inherit
  
  test:
    uses: ./.github/workflows/test.yaml
    secrets: inherit