name: Main branch protection

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read
  packages: write
  pull-requests: read

jobs:
  static-analysis:
    uses: ./.github/workflows/callable-static-analysis.yaml
    secrets: inherit

  build:
    uses: ./.github/workflows/callable-build.yaml
    secrets: inherit

  image:
    uses: ./.github/workflows/callable-image.yaml
    secrets: inherit
  
  test:
    uses: ./.github/workflows/callable-test.yaml
    secrets: inherit