name: Main branch protection

run-name: Main branch protection - ${{ github.event.pull_request.title | github.event.head_commit.message }}

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions:
  contents: read
  packages: write
  pull-requests: read
  security-events: read

jobs:
  static-analysis:
    uses: ./.github/workflows/callable-static-analysis.yaml
    secrets: inherit

  build:
    uses: ./.github/workflows/callable-build.yaml
    secrets: inherit

  image:
    uses: ./.github/workflows/callable-image.yaml
    secrets: inherit

  test:
    needs: image
    uses: ./.github/workflows/callable-test.yaml
    secrets: inherit
    with:
      integration: true
