name: Pull request validation

run-name: Pull request validation - ${{ github.event.pull_request.title }}

on:
  pull_request:
    branches:
      - main

# Should prevent concurrency on a per-branch basis.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write
  pull-requests: read
  security-events: write

jobs:
  static-analysis:
    uses: ./.github/workflows/callable-static-analysis.yaml
    secrets: inherit

  build:
    uses: ./.github/workflows/callable-build.yaml
    secrets: inherit

  image:
    uses: ./.github/workflows/callable-image.yaml
    secrets: inherit

  test:
    needs: image
    uses: ./.github/workflows/callable-test.yaml
    secrets: inherit
    with:
      integration: true
