name: Release

on:
  push:
    tags:
      - 'v*' # Matches tags like v1.0.0, v2.1.3, etc.

permissions:
  contents: write
  packages: write

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Fetch all history for tags
          fetch-tags: true

      - name: Version info
        id: set-version
        run: |
          VERSION=$(git describe --tags --always)  
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  image:
    needs: version
    uses: ./.github/workflows/callable-image.yaml
    secrets: inherit
    with:
      version: ${{ needs.version.outputs.version }}
      push: true

  test:
    needs: [version, image]
    uses: ./.github/workflows/callable-test.yaml
    secrets: inherit
    with:
      version: ${{ needs.version.outputs.version }}
      integration: true
