name: Test

on:
  workflow_call:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Run tests
        run: go test ./... -coverprofile=coverage.out
      - name: Generate coverage report
        run: go tool cover -html=coverage.out -o coverage.html
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: go-coverage-report-${{ github.sha }}
          path: coverage.html